@use '../utils' as *;

/*----------------------------------------*/
/*  2.19 Pagination
/*----------------------------------------*/

.th-theme-pagination{
    & ul{
        & li{
            display: inline-block;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                &.th-pagination-num{
                    background: transparent;
                    height: 24px;
                    width: 24px;
                    line-height: 24px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    color: #FBFBFB;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    transition: .3s;
                    &:hover{
                        background:#DEFF00;
                        color: #0E0E0E;
                        transition: .3s;
                    }
                }

                & .th-prev{
                    background: #0E0E0E;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                    padding: 8px 20px;
                    border-radius: 124px;
                    transition: .3s;
                    & img{
                        filter: brightness(0) invert(1);
                        margin-top: -4px;
                    }
                    &:hover{
                        background: #DEFF00;
                        transition: .3s;
                        color: #0E0E0E;
                        & img{
                            filter: none;
                            transition: .3s;
                        }
                    }
                }
            }
        }
    }
}


.th-theme-pagination ul li a .th-prev:hover img {
    filter: brightness(0);
}

.th-work-single-thumb{
    & img{
        height: 422px;
    }
}