:root {
    --primary-color:#DEFF00;
    --secondary-color: #FBFBFB;
    --text-color: #B4B2B2;
    --accent-color: #1E84B5;
    --white-color: #FFFFFF;
    --black-color: #0E0E0E;
    --black-bg:#121212;
    --black-bg-1:#1A1616;
    --offwhite:#9B9B9B;
    --border:#2F302C;
    --primary-color-2:#4C40F7;
    --primary-color-3:#FF7B00;
}

