$font-url : 'https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap';

:root {
    --th-fonts-Inter: "Inter Tight", sans-serif;
    --th-fonts-Onest: "Onest", sans-serif;
}